:root {
    --black-main-color: #1c1c1c;
    --gray-main-color: #D3D3D3;
    --gray-main-color2: #f8f8f8;
    --cinza2: #757575;
    --destaque1: #7cbde3;
    --destaque: #de9459;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--black-main-color);
    background: #000000;
    background: linear-gradient(135deg, rgb(35, 35, 35) 10%, rgb(13, 13, 69) 60%, rgb(50, 50, 101) 98%, rgb(53, 68, 119) 100%);

    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 360px;
    text-align: center;
    margin: 20px auto;
    padding: 30px 10px;
    background-color: #00000070;
    /* height: 90vh; */
    /* color: var(--gray-main-color); */

    border-radius: 8px;
    /* border: 2px solid black; */
}

img {
    width: 300px;
}

h1 {
    font-size: 18px;
    color: var(--destaque1);
    margin: 10px 0 25px 0;
    text-transform: uppercase;

}

h2 {
    font-size: 16px;
    margin-top: 20px;
}

p {
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0;
    font-family: monospace;
    /* text-align: left; */
    font-weight: lighter;
    color: var(--destaque);
    /* font-weight: 200;
    font-variation-settings:
        "wdth" 80; */
}

ul {
    margin: 15px 0;
    list-style: none;
    /* width: 290px;  */
}

li {
    margin: 10px;
    display: flex;
    justify-content: center;

}

ul li a {
    background-color: var(--gray-main-color);
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    transition: background 500ms;
}

ul li a:hover {
    background-color: var(--destaque1);
    font-weight: bold;
}



#icon {
    width: 25px;
    margin: 0 5px 0 0;
}



/* tela-grande */
@media screen and (min-width: 1601px) {
    .content {
        width: 500px;
    }

    img {
        width: 200px;
        margin: 50px auto 20px;
    }

    h1 {
        font-size: 70px;
    }

    p {
        font-size: 18px;
    }

    ul li a {
        font-size: 18px;
        height: 35px;
        width: 300px;
    }

}